.weather-container {
  width: 260px;
  margin: 3px;
  padding: 5px;
  box-shadow: 0px 0px 8px 0px rgba(52, 86, 105, 0.3);
  position: relative;
  min-height: 50px;

  display: flex;
  flex-direction: column;
}