@keyframes ldio-5utcei4dj39 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.2, 1.2);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.spinner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.ldio-5utcei4dj39 div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffc672;
  animation: ldio-5utcei4dj39 1.4285714285714284s linear infinite;
}
.ldio-5utcei4dj39 div:nth-child(1) > div {
  left: 79px;
  top: 44px;
  animation-delay: -1.3095238095238095s;
}
.ldio-5utcei4dj39 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 85px 50px;
}
.ldio-5utcei4dj39 div:nth-child(2) > div {
  left: 74px;
  top: 61px;
  animation-delay: -1.1904761904761905s;
}
.ldio-5utcei4dj39 > div:nth-child(2) {
  transform: rotate(30deg);
  transform-origin: 80px 67px;
}
.ldio-5utcei4dj39 div:nth-child(3) > div {
  left: 62px;
  top: 74px;
  animation-delay: -1.0714285714285714s;
}
.ldio-5utcei4dj39 > div:nth-child(3) {
  transform: rotate(60deg);
  transform-origin: 68px 80px;
}
.ldio-5utcei4dj39 div:nth-child(4) > div {
  left: 44px;
  top: 79px;
  animation-delay: -0.9523809523809523s;
}
.ldio-5utcei4dj39 > div:nth-child(4) {
  transform: rotate(90deg);
  transform-origin: 50px 85px;
}
.ldio-5utcei4dj39 div:nth-child(5) > div {
  left: 27px;
  top: 74px;
  animation-delay: -0.8333333333333333s;
}
.ldio-5utcei4dj39 > div:nth-child(5) {
  transform: rotate(120deg);
  transform-origin: 33px 80px;
}
.ldio-5utcei4dj39 div:nth-child(6) > div {
  left: 14px;
  top: 61px;
  animation-delay: -0.7142857142857143s;
}
.ldio-5utcei4dj39 > div:nth-child(6) {
  transform: rotate(150deg);
  transform-origin: 20px 67px;
}
.ldio-5utcei4dj39 div:nth-child(7) > div {
  left: 9px;
  top: 44px;
  animation-delay: -0.5952380952380952s;
}
.ldio-5utcei4dj39 > div:nth-child(7) {
  transform: rotate(180deg);
  transform-origin: 15px 50px;
}
.ldio-5utcei4dj39 div:nth-child(8) > div {
  left: 14px;
  top: 27px;
  animation-delay: -0.47619047619047616s;
}
.ldio-5utcei4dj39 > div:nth-child(8) {
  transform: rotate(210deg);
  transform-origin: 20px 33px;
}
.ldio-5utcei4dj39 div:nth-child(9) > div {
  left: 26px;
  top: 14px;
  animation-delay: -0.35714285714285715s;
}
.ldio-5utcei4dj39 > div:nth-child(9) {
  transform: rotate(240deg);
  transform-origin: 32px 20px;
}
.ldio-5utcei4dj39 div:nth-child(10) > div {
  left: 44px;
  top: 9px;
  animation-delay: -0.23809523809523808s;
}
.ldio-5utcei4dj39 > div:nth-child(10) {
  transform: rotate(270deg);
  transform-origin: 50px 15px;
}
.ldio-5utcei4dj39 div:nth-child(11) > div {
  left: 62px;
  top: 14px;
  animation-delay: -0.11904761904761904s;
}
.ldio-5utcei4dj39 > div:nth-child(11) {
  transform: rotate(300deg);
  transform-origin: 68px 20px;
}
.ldio-5utcei4dj39 div:nth-child(12) > div {
  left: 74px;
  top: 26px;
  animation-delay: 0s;
}
.ldio-5utcei4dj39 > div:nth-child(12) {
  transform: rotate(330deg);
  transform-origin: 80px 32px;
}
.loadingio-spinner-spin-zku0ofetyr {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-5utcei4dj39 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5utcei4dj39 div {
  box-sizing: content-box;
}
